*{
    box-sizing: border-box;
    font-family: Arial;
}
footer {
    background-color: black;
    color: white;
    width: 100%;
}
header {
    text-align: center;
}
main {
    margin: auto;
    width: 80%;
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1px 300px 1px 300px;
    gap: 10px;
}
nav a{
    background-color: gray;
    border: 1px solid rgb(38, 38, 38);
    border-radius: 1vw;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: black;
}